In [1]:
import requests
import pandas as pd
from datetime import datetime
import numpy as np
import asyncio
import joblib

In [2]:
!pwd

/home/broom/VFMcalcProj

In [3]:
!ls -la

total 1284
drwxr-xr-x  6 broom broom    4096 Aug 22 02:22  .
drwxr-x--- 55 broom broom    4096 Aug 22 02:22  ..
-rw-r--r--  1 broom broom    1486 Aug  6 13:11  BOJ_ExpInflRate_down.py
-rw-r--r--  1 broom broom    6148 Aug  6 13:11  .DS_Store
-rw-r--r--  1 broom broom     500 Aug 22 08:22  final_inputs.joblib
-rw-r--r--  1 broom broom    4992 Aug 22 04:47  Final_Inputs.py
-rw-r--r--  1 broom broom    7021 Aug  6 13:11  Flet_inputDialogTest.py
-rw-r--r--  1 broom broom    6923 Aug  6 13:11 'Flet_kinriselect _test.py'
drwxr-xr-x  8 broom broom    4096 Aug 22 08:34  .git
-rw-r--r--  1 broom broom    3104 Aug  7 09:17  .gitignore
-rw-r--r--  1 broom broom     511 Aug  6 18:08  initail_inputs.joblib
-rw-r--r--  1 broom broom     505 Aug 22 08:22  initial_inputs.joblib
-rw-r--r--  1 broom broom    5995 Aug 22 03:25  Initial_Inputs.py
drwxr-xr-x  2 broom broom    4096 Aug 21 16:41  .ipynb_checkpoints
-rw-r--r--  1 broom broom 1101029 Aug  6 13:11  jgbcm_all.csv
-rw-r--r--  1 broom broom     142 Aug  6 13:11  JGB_rates.csv
-rw-r--r--  1 broom broom   34141 Aug  6 13:11  JGB_rates_for_Discount_rate_setting_test0722.ipynb
-rw-r--r--  1 broom broom   22545 Aug  6 13:11  JGB_rates_for_Discount_rate_setting_test.ipynb
-rw-r--r--  1 broom broom    1195 Aug  6 13:11  jgb_rates.py
-rw-r--r--  1 broom broom      61 Aug  6 13:11  JRB_rates.csv
-rw-r--r--  1 broom broom   11357 Aug  6 13:11  LICENCE
-rw-r--r--  1 broom broom    2141 Aug  7 12:28  main.py
drwxr-xr-x  2 broom broom    4096 Aug  6 13:11  __pycache__
-rw-r--r--  1 broom broom       7 Aug  6 13:11  .python-version
-rw-r--r--  1 broom broom      14 Aug  6 13:11  README.md
-rw-r--r--  1 broom broom     220 Aug 22 08:22  res_PSC_LCC.joblib
-rw-r--r--  1 broom broom    1850 Aug 22 08:22  results.joblib
-rw-r--r--  1 broom broom    3085 Aug  7 19:56  Resultview.py
drwx------  2 broom broom    4096 Aug  6 18:01  tmpydm4_oyt
-rw-r--r--  1 broom broom    6412 Aug 21 16:47  Untitled.ipynb
-rw-r--r--  1 broom broom    7581 Aug 22 05:57  VFM_calc.py

In [56]:
results =joblib.load('results.pkl')
res_PSC_LCC = joblib.load('res_PSC_LCC.pkl')
final_inputs = joblib.load('Final_Inputs.pkl')
initial_inputs = joblib.load('Initial_Inputs.pkl')

In [57]:
#final_inputs.keys()
initial_inputs.keys()
#proj_years = final_inputs['proj_years']

dict_keys(['mgmt_type', 'proj_ctgry', 'proj_type', 'proj_years', 'const_years', 'kijun_kinri', 'chisai_kinri', 'zei_modori', 'lg_spread', 'zei_total', 'growth', 'kitai_bukka', 'shisetsu_seibi', 'ijikanri_unnei', 'reduc_shisetsu', 'reduc_ijikanri', 'pre_kyoukouka', 'kisai_jutou', 'kisai_koufu', 'zeimae_rieki', 'SPC_keihi', 'hojo'])

In [58]:
print(initial_inputs['kisai_jutou'])
print(initial_inputs['kisai_koufu'])
print(initial_inputs['hojo'])
print(initial_inputs['zei_modori'])
print(initial_inputs['mgmt_type'])
print(initial_inputs['proj_years'])
print(initial_inputs['const_years'])
print(final_inputs['kisai_jutou'])
print(final_inputs['kisai_koufu'])
print(final_inputs['proj_years'])
print(final_inputs['const_years'])
print(res_PSC_LCC['proj_years'])
print(res_PSC_LCC['const_years'])

75.0
30.0
30.0
8.4
市町村
30
3
75.0
30.0
24
3
20
3

In [59]:
const_years = res_PSC_LCC['const_years']
ijikanri_years = res_PSC_LCC['ijikanri_years']
proj_years = res_PSC_LCC['proj_years']
discount_rate = res_PSC_LCC['discount_rate']
print(const_years)
print(ijikanri_years)
print(proj_years)

3
17
20

In [60]:
print(final_inputs['proj_years'])
print(final_inputs['const_years'])

24
3

In [61]:
PSC_const_discount_factor = [(1/(1-float(discount_rate)/100))** i for i in reversed(range(int(const_years)))]
LCC_discount_factor = [(1/(1+float(discount_rate)/100))** i for i in range(1, int(proj_years)+1)]
print(const_years)
print(discount_rate)
print(PSC_const_discount_factor)
print(proj_years)
print(LCC_discount_factor)

3
3.249724880382775
[1.0683057912353333, 1.0335887921389886, 1.0]
20
[0.9685255831514548, 0.9380418052188655, 0.908517486420045, 0.8799224283382681, 0.8522273830343652, 0.8254040231309968, 0.7994249128385055, 0.7742634798927144, 0.7498939883759659, 0.7262915123936026, 0.703431910578966, 0.681291801400835, 0.6598485392480489, 0.6390801912668521, 0.6189655149272711, 0.5994839362955758, 0.5806155289906021, 0.5623409938024133, 0.5446416389524509, 0.5274993609749866]

In [49]:
results['LCC_discount_factor']

[0.9685255831514548,
 0.9380418052188655,
 0.908517486420045,
 0.8799224283382681,
 0.8522273830343652,
 0.8254040231309968,
 0.7994249128385055,
 0.7742634798927144,
 0.7498939883759659,
 0.7262915123936026,
 0.703431910578966,
 0.681291801400835,
 0.6598485392480489,
 0.6390801912668521,
 0.6189655149272711,
 0.5994839362955758,
 0.5806155289906021,
 0.5623409938024133,
 0.5446416389524509,
 0.5274993609749866]

In [50]:
results['PSC_const_discount_factor']

[1.0683057912353333, 1.0335887921389886, 1.0]

In [51]:
results['LCC_discount_factor']

[0.9685255831514548,
 0.9380418052188655,
 0.908517486420045,
 0.8799224283382681,
 0.8522273830343652,
 0.8254040231309968,
 0.7994249128385055,
 0.7742634798927144,
 0.7498939883759659,
 0.7262915123936026,
 0.703431910578966,
 0.681291801400835,
 0.6598485392480489,
 0.6390801912668521,
 0.6189655149272711,
 0.5994839362955758,
 0.5806155289906021,
 0.5623409938024133,
 0.5446416389524509,
 0.5274993609749866]

In [4]:
JGB_rates = pd.read_csv('https://www.mof.go.jp/jgbs/reference/interest_rate/data/jgbcm_all.csv', encoding='Shift-JIS', header=1)

In [5]:
JGB_rates.head()

,基準日,1年,2年,3年,4年,5年,6年,7年,8年,9年,10年,15年,20年,25年,30年,40年
0,S49.9.24,10.327,9.362,8.83,8.515,8.348,8.290,8.24,8.121,8.127,-,-,-,-,-,-
1,S49.9.25,10.333,9.364,8.831,8.516,8.348,8.290,8.24,8.121,8.127,-,-,-,-,-,-
2,S49.9.26,10.34,9.366,8.832,8.516,8.348,8.290,8.24,8.122,8.128,-,-,-,-,-,-
3,S49.9.27,10.347,9.367,8.833,8.517,8.349,8.290,8.24,8.122,8.128,-,-,-,-,-,-
4,S49.9.28,10.354,9.369,8.834,8.518,8.349,8.291,8.24,8.122,8.129,-,-,-,-,-,-

In [6]:
def dateConv(date):

    wareki = {
            "R":2018,
            "H":1988,
            "S":1925
            }
  
    date_els = date.split('.', 2)
    year_num = int(date_els[0][1:])
    era = date_els[0][0]
 
    year = year_num + wareki[era]

    month =int(date_els[1])
    day = int(date_els[2])

    dt = datetime(year, month, day)

    return dt

In [7]:
JGB_rates["基準日"] = JGB_rates['基準日'].apply(dateConv)
JGB_rates = JGB_rates.set_index('基準日')
JGB_rates.replace('-', np.nan, inplace=True)

In [8]:
JGB_rates.head()

,1年,2年,3年,4年,5年,6年,7年,8年,9年,10年,15年,20年,25年,30年,40年
基準日,,,,,,,,,,,,,,,
1974-09-24,10.327,9.362,8.83,8.515,8.348,8.290,8.24,8.121,8.127,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-25,10.333,9.364,8.831,8.516,8.348,8.290,8.24,8.121,8.127,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-26,10.34,9.366,8.832,8.516,8.348,8.290,8.24,8.122,8.128,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-27,10.347,9.367,8.833,8.517,8.349,8.290,8.24,8.122,8.128,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-28,10.354,9.369,8.834,8.518,8.349,8.291,8.24,8.122,8.129,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
JGB_rates.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12537 entries, 1974-09-24 to 2023-07-31
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1年      11889 non-null  object
 1   2年      12176 non-null  object
 2   3年      12461 non-null  object
 3   4年      12537 non-null  float64
 4   5年      12537 non-null  float64
 5   6年      12537 non-null  float64
 6   7年      12537 non-null  float64
 7   8年      12537 non-null  float64
 8   9年      12537 non-null  float64
 9   10年     9176 non-null   object
 10  15年     7835 non-null   object
 11  20年     9063 non-null   object
 12  25年     4742 non-null   object
 13  30年     5860 non-null   object
 14  40年     3848 non-null   object
dtypes: float64(6), object(9)
memory usage: 1.5+ MB

In [10]:
JGB_rates['5年'].resample('Y').mean()

基準日
1974-12-31    8.377000
1975-12-31    8.483218
1976-12-31    8.735269
1977-12-31    7.500503
1978-12-31    5.929144
1979-12-31    7.424343
1980-12-31    8.638351
1981-12-31    8.210207
1982-12-31    8.126912
1983-12-31    7.693021
1984-12-31    6.959432
1985-12-31    6.359263
1986-12-31    5.153240
1987-12-31    4.267631
1988-12-31    4.180077
1989-12-31    5.005743
1990-12-31    7.051776
1991-12-31    6.474069
1992-12-31    4.856466
1993-12-31    3.606285
1994-12-31    3.673360
1995-12-31    2.608570
1996-12-31    2.208781
1997-12-31    1.546653
1998-12-31    1.018368
1999-12-31    0.983000
2000-12-31    1.101435
2001-12-31    0.540703
2002-12-31    0.441244
2003-12-31    0.409922
2004-12-31    0.666313
2005-12-31    0.628220
2006-12-31    1.229774
2007-12-31    1.236090
2008-12-31    1.016457
2009-12-31    0.702761
2010-12-31    0.419980
2011-12-31    0.427437
2012-12-31    0.246508
2013-12-31    0.235371
2014-12-31    0.162418
2015-12-31    0.078107
2016-12-31   -0.187139
2017-12-31   -0.108397
2018-12-31   -0.094796
2019-12-31   -0.217668
2020-12-31   -0.118770
2021-12-31   -0.096441
2022-12-31    0.047131
2023-12-31    0.153331
Freq: A-DEC, Name: 5年, dtype: float64

In [11]:
JGB_rate_5_30 = JGB_rates[['5年', '10年', '15年', '20年', '25年', '30年']].dropna()
JGB_rate_5_30 = JGB_rate_5_30.astype(float, errors='raise')

In [12]:
JGB_rate_5_30_12M = JGB_rate_5_30.resample('M').mean().tail(12)
JGB_rate_5_30_12M

                  5年       10年       15年       20年       25年       30年
基準日
2022-08-31  0.001136  0.206818  0.551409  0.824909  1.015545  1.162591
2022-09-30  0.064750  0.269250  0.670050  0.951600  1.160450  1.311800
2022-10-31  0.090850  0.257150  0.769350  1.081450  1.298250  1.456100
2022-11-30  0.087100  0.265300  0.786750  1.104550  1.314900  1.480100
2022-12-31  0.178273  0.357045  0.873182  1.164773  1.351409  1.485909
2023-01-31  0.235947  0.479053  1.054789  1.327947  1.489789  1.575895
2023-02-28  0.214895  0.520053  1.047158  1.310474  1.444000  1.508579
2023-03-31  0.150727  0.402455  0.860500  1.135818  1.265727  1.353545
2023-04-30  0.160650  0.466450  0.850750  1.105800  1.241600  1.335400
2023-05-31  0.115050  0.419100  0.761300  1.020850  1.165400  1.265000
2023-06-30  0.089818  0.423455  0.753636  1.010091  1.152227  1.253227
2023-07-31  0.120050  0.464500  0.819400  1.078850  1.225100  1.316250

In [13]:
JGB_rate_5_30_12M.mean()

5年     0.125771
10年    0.377552
15年    0.816523
20年    1.093093
25年    1.260367
30年    1.375366
dtype: float64

In [14]:
JGB_rates_df = pd.read_csv('JGB_rates.csv', sep='\t', encoding='shift_jis', header=None, names=['year', 'rate'])

In [15]:
JGB_rates_df

  year      rate
0   5年  0.125771
1  10年  0.377552
2  15年  0.816523
3  20年  1.093093
4  25年  1.260367
5  30年  1.375366

In [29]:
dd5value = "21"
y,d = divmod(int(dd5value), 5)

In [30]:
if d > 2:
    r_idx = str((y+1) * 5) + '年'
elif d <= 2:
    r_idx = str(y * 5) + '年'

In [36]:
r_idx
r_idx[-1]
print(type(r_idx.replace('年', '')))

<class 'str'>

In [32]:
r1 = float(JGB_rates_df[JGB_rates_df['year']==r_idx]['rate'].iloc[0])

In [33]:
r1

1.093092663476874

In [26]:
JRB_rates_df = pd.read_csv('JRB_rates.csv', encoding='shift_jis', header=None, names=['year', 'rate'])

In [27]:
JRB_rates_df

  year  rate
0   5年  0.25
1  10年  0.50
2  15年  0.75
3  20年  0.90
4  25年  1.05
5  30年  1.15

In [28]:
r2 = float(JRB_rates_df[JRB_rates_df['year']==r_idx]['rate'].iloc[0])
r2

0.9