In [1]:
import joblib
import pandas as pd
from datetime import datetime
import numpy as np
import duckdb
import flet
import pyarrow
#import tinydb

ModuleNotFoundError: No module named 'tinydb'

In [6]:
JGB_rates = pd.read_csv('https://www.mof.go.jp/jgbs/reference/interest_rate/data/jgbcm_all.csv', encoding='Shift-JIS', header=1)

In [7]:
JGB_rates.head()

,基準日,1年,2年,3年,4年,5年,6年,7年,8年,9年,10年,15年,20年,25年,30年,40年
0,S49.9.24,10.327,9.362,8.83,8.515,8.348,8.290,8.24,8.121,8.127,-,-,-,-,-,-
1,S49.9.25,10.333,9.364,8.831,8.516,8.348,8.290,8.24,8.121,8.127,-,-,-,-,-,-
2,S49.9.26,10.34,9.366,8.832,8.516,8.348,8.290,8.24,8.122,8.128,-,-,-,-,-,-
3,S49.9.27,10.347,9.367,8.833,8.517,8.349,8.290,8.24,8.122,8.128,-,-,-,-,-,-
4,S49.9.28,10.354,9.369,8.834,8.518,8.349,8.291,8.24,8.122,8.129,-,-,-,-,-,-

In [8]:
def dateConv(date):

    wareki = {
            "R":2018,
            "H":1988,
            "S":1925
            }
  
    date_els = date.split('.', 2)
    year_num = int(date_els[0][1:])
    era = date_els[0][0]
 
    year = year_num + wareki[era]

    month =int(date_els[1])
    day = int(date_els[2])

    dt = datetime(year, month, day)

    return dt

In [9]:
JGB_rates["基準日"] = JGB_rates['基準日'].apply(dateConv)
JGB_rates = JGB_rates.set_index('基準日')
JGB_rates.replace('-', np.nan, inplace=True)

In [10]:
JGB_rates.head()

,1年,2年,3年,4年,5年,6年,7年,8年,9年,10年,15年,20年,25年,30年,40年
基準日,,,,,,,,,,,,,,,
1974-09-24,10.327,9.362,8.83,8.515,8.348,8.290,8.24,8.121,8.127,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-25,10.333,9.364,8.831,8.516,8.348,8.290,8.24,8.121,8.127,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-26,10.34,9.366,8.832,8.516,8.348,8.290,8.24,8.122,8.128,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-27,10.347,9.367,8.833,8.517,8.349,8.290,8.24,8.122,8.128,NaN,NaN,NaN,NaN,NaN,NaN
1974-09-28,10.354,9.369,8.834,8.518,8.349,8.291,8.24,8.122,8.129,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
JGB_rates.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12559 entries, 1974-09-24 to 2023-08-31
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1年      11911 non-null  object
 1   2年      12198 non-null  object
 2   3年      12483 non-null  object
 3   4年      12559 non-null  float64
 4   5年      12559 non-null  float64
 5   6年      12559 non-null  float64
 6   7年      12559 non-null  float64
 7   8年      12559 non-null  float64
 8   9年      12559 non-null  float64
 9   10年     9198 non-null   object
 10  15年     7857 non-null   object
 11  20年     9085 non-null   object
 12  25年     4764 non-null   object
 13  30年     5882 non-null   object
 14  40年     3870 non-null   object
dtypes: float64(6), object(9)
memory usage: 1.5+ MB

In [12]:
JGB_rates['5年'].resample('Y').mean()

基準日
1974-12-31    8.377000
1975-12-31    8.483218
1976-12-31    8.735269
1977-12-31    7.500503
1978-12-31    5.929144
1979-12-31    7.424343
1980-12-31    8.638351
1981-12-31    8.210207
1982-12-31    8.126912
1983-12-31    7.693021
1984-12-31    6.959432
1985-12-31    6.359263
1986-12-31    5.153240
1987-12-31    4.267631
1988-12-31    4.180077
1989-12-31    5.005743
1990-12-31    7.051776
1991-12-31    6.474069
1992-12-31    4.856466
1993-12-31    3.606285
1994-12-31    3.673360
1995-12-31    2.608570
1996-12-31    2.208781
1997-12-31    1.546653
1998-12-31    1.018368
1999-12-31    0.983000
2000-12-31    1.101435
2001-12-31    0.540703
2002-12-31    0.441244
2003-12-31    0.409922
2004-12-31    0.666313
2005-12-31    0.628220
2006-12-31    1.229774
2007-12-31    1.236090
2008-12-31    1.016457
2009-12-31    0.702761
2010-12-31    0.419980
2011-12-31    0.427437
2012-12-31    0.246508
2013-12-31    0.235371
2014-12-31    0.162418
2015-12-31    0.078107
2016-12-31   -0.187139
2017-12-31   -0.108397
2018-12-31   -0.094796
2019-12-31   -0.217668
2020-12-31   -0.118770
2021-12-31   -0.096441
2022-12-31    0.047131
2023-12-31    0.163122
Freq: A-DEC, Name: 5年, dtype: float64

In [13]:
JGB_rate_5_30 = JGB_rates[['5年', '10年', '15年', '20年', '25年', '30年']].dropna()
JGB_rate_5_30 = JGB_rate_5_30.astype(float, errors='raise')

In [14]:
JGB_rate_5_30_12M = JGB_rate_5_30.resample('M').mean().tail(12)
JGB_rate_5_30_12M

                  5年       10年       15年       20年       25年       30年
基準日
2022-09-30  0.064750  0.269250  0.670050  0.951600  1.160450  1.311800
2022-10-31  0.090850  0.257150  0.769350  1.081450  1.298250  1.456100
2022-11-30  0.087100  0.265300  0.786750  1.104550  1.314900  1.480100
2022-12-31  0.178273  0.357045  0.873182  1.164773  1.351409  1.485909
2023-01-31  0.235947  0.479053  1.054789  1.327947  1.489789  1.575895
2023-02-28  0.214895  0.520053  1.047158  1.310474  1.444000  1.508579
2023-03-31  0.150727  0.402455  0.860500  1.135818  1.265727  1.353545
2023-04-30  0.160650  0.466450  0.850750  1.105800  1.241600  1.335400
2023-05-31  0.115050  0.419100  0.761300  1.020850  1.165400  1.265000
2023-06-30  0.089818  0.423455  0.753636  1.010091  1.152227  1.253227
2023-07-31  0.120050  0.464500  0.819400  1.078850  1.225100  1.316250
2023-08-31  0.226318  0.639091  1.031591  1.317682  1.462682  1.551545

In [15]:
JGB_rate_5_30_12M_dic = JGB_rate_5_30_12M.mean().to_dict()

In [16]:
JGB_rate_5_30_12M_dic.values()

dict_values([0.1445357057416268, 0.41357505980861237, 0.8565380382775118, 1.1341570574162678, 1.2976279106858053, 1.407779246411483])

In [56]:
JGB_rate_5_30_12M_sr = JGB_rate_5_30_12M.mean()
JGB_rate_5_30_12M_df = pd.DataFrame(JGB_rate_5_30_12M_sr, columns=['利率'])
JGB_rate_5_30_12M_df = JGB_rate_5_30_12M_df.transpose()

In [57]:
con = duckdb.connect('initial_inputs.db')

In [58]:
con.sql('DROP TABLE IF EXISTS table1')
con.sql('CREATE TABLE table1 as SELECT * FROM JGB_rate_5_30_12M_df')

In [59]:
initial_inputs = pd.read_sql('select * from table1', con)
initial_inputs

/var/folders/m9/b7w2rb316zz6kw4n96k_km200000gn/T/ipykernel_79837/1298584288.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  initial_inputs = pd.read_sql('select * from table1', con)

         5年       10年       15年       20年       25年       30年
0  0.144536  0.413575  0.856538  1.134157  1.297628  1.407779

In [38]:
initial_inputs['年限'] = ['5年', '10年', '15年', '20年', '25年', '30年']
initial_inputs.set_index('年限', inplace=True)

In [67]:
initial_inputs['5年'][0]

0.1445357057416268